<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@Page.Title</title>	 
	<link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body class="container">
    @RenderBody()
</body>
</html>
